body {
    background: rgb(181, 228, 255);
}

.mid-container {
    margin-top: 8%;
    height: 500px;
    background: rgba(194, 172, 247, 0.603);
    box-shadow: 5px 10px 15px #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.display-area {
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #ccc011;
    margin-top: 20px;
}

.input-layout {
    margin-top: 65px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.input-botton {
    border: 1px solid #000;
    border-radius: 50%;
    padding: 7px 18px;
    margin-top: 10px;
    font-size: 25px;
    text-decoration: none;
}

.size {
    width: 50px;
    border-radius: 0%;
}

#expression,
#resultBox {
    text-align: right;
    font-size: 25px;
    margin-right: 15px;
}

button:focus {
    outline: none;
    border-color: darkorange;
}